/* CSS orders: 
 - Google font
 - Global Styles 
 - Forms
 - Container Div
 - Center All 
 - Text Styles
 - Grids
 - Round Image
 - Buttons
 - Margin Padding
 - Backgrounds
 - Navbar
 - Card
 - Users
 - Alert
 */

/* Google font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primaryColor: #10375c;
  --darkColor: #333;
  --lightColor: #f4f4f4;
  --whiteColor: #fff;
  --dangerColor: #dc3545;
  --successColor: #28a745;
  --lightGray1: #ccc;
  --lightGray2: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--darkColor);
  background-color: var(--whiteColor);
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}

a:hover {
  color: var(--lightGray2);
}

ul {
  list-style: none;
}

/* Form */
input {
  margin: 1.2rem 0;
  display: block;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='date'] {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--lightGray1);
  outline: none;
}

input[type='submit'],
btn {
  font: inherit;
}

/* Container div */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

/* Center all */

.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Text Styles */
.text-center {
  text-align: center;
}

.text-primary {
  text-align: var(--primaryColor);
}

.text-dark {
  color: var(--darkColor);
}

.text-success {
  color: var(--successColor);
}

.text-danger {
  color: var(--dangerColor);
}

/* Grids */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

/* Round Image */
.round-img {
  border-radius: 50%;
  width: 4rem;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.4rem 1.3rem;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  border: none;
  background: var(--lightColor);
  color: var(--darkColor);
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.btn-dark {
  background: var(--darkColor);
  color: var(--whiteColor);
}
.btn-light {
  background-color: var(--lightColor);
  color: var(--darkColor);
}

/* Margin Padding */
.my-1 {
  margin: 1rem 0;
}

/* Backgrounds */
.bgPrimary {
  background-color: var(--primaryColor);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--whiteColor);
  padding: 0.7rem 2rem;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--whiteColor);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar i {
  margin-right: 1rem;
}
.navbar h1 {
  text-transform: uppercase;
  font-size: 1rem;
}

/* Card */
.card {
  padding: 1rem;
  border: var(--lightGray1) 1px dotted;
  margin: 0.7rem 0;
}

/* List */

/* Users */
.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem;
}

/* User */

/* Alert */
.alert {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: var(--whiteColor);
}

.alert-danger {
  background-color: var(--dangerColor);
}

.alert-success {
  background-color: var(--successColor);
}

.alert i {
  margin-right: 0.2rem;
}


